<div class="design-container d-flex p-10 p-t-20">
  <div class="w-25 elements-container">
    <div class="tabs-container">
      <mat-tab-group class="tab-group m-t-5">
        <mat-tab label="Attributes">
          <app-nested-attribute-render></app-nested-attribute-render>
        </mat-tab>
        <mat-tab label="Elements">
          <app-elements-list></app-elements-list>
        </mat-tab>
      </mat-tab-group>
      <hr class="b-line">
    </div>
  </div>
  <div class="w-75 p-10">
    <div class="header-row d-flex align-center justify-between p-3">
      <!-- Title and Form Information -->
      <div class="info-section d-flex align-center">
        <i class="material-icons m-r-2">description</i>
        <span class="title m-r-2">Sustainability Info</span>
        <span class="separator">|</span>
        <span class="form-id m-r-2">264589879851235</span>
        <span class="separator">|</span>
        <span class="form-version">Form Version 1.1</span>
      </div>

      <!-- Action Buttons -->
      <div class="actions d-flex align-center">
        <button mat-raised-button class="btn-primary m-r-5">
          <i class="material-icons m-r-5">design_services</i>
          Form Designer
        </button>
        <button mat-raised-button class="btn-secondary m-r-5">
          <i class="material-icons m-r-5">visibility</i>
          Preview
        </button>
        <button mat-raised-button class="btn-success">
          <i class="material-icons m-r-5">save</i>
          Save
        </button>
      </div>
    </div>

    <!-- Dotted Container -->
    <div class="dotted-container">
      <!-- Existing Content -->
    </div>

  </div>
</div>
